variables:
  VERIFY_IMAGE:
    value: 'true'
    options:
      - 'true'
      - 'false'
    description: Control if image should be verified at build stage

cache: []

stages:
  - init
  - review
  - build
  - test
  - deploy

include:
  - local: 'gitlab-ci.d/test.yml'
  - local: 'gitlab-ci.d/init.yml'
  - project: 'CSniper/ci-mgmt'
    file: 'code-review.yml'
    ref: 'main'

build-images:
  stage: build
  trigger:
    include:
      - artifact: gitlab-ci.d/container-build.yml
        job: generate-pipeline
    strategy: depend
  variables:
    VERIFY_IMAGE: ${VERIFY_IMAGE}
    GIT_SUBMODULE_STRATEGY: recursive
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == 'true'
    - if: $CI_PIPELINE_SOURCE == 'web'

tag:
  stage: deploy
  trigger:
    include:
      - artifact: gitlab-ci.d/container-tag.yml
        job: generate-pipeline
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH