dockerhub-image:
  stage: deploy
  image: quay.io/podman/stable:latest
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
    - podman login -u "${DOCKER_USERNAME}" -p "${DOCKER_TOKEN}" docker.io
  script:
    - SOURCE_TAG="${CI_REGISTRY_IMAGE}/slurm-lab:${CI_COMMIT_SHORT_SHA}-${DISTRO}-{{ slurm_ver }}"
    - |
      if [ "${NAME}" = "default" ]; then
        LATEST_TAG="${DOCKER_REPO}/slurm-lab:latest"
        YYYYMM_TAG="${DOCKER_REPO}/slurm-lab:{{ YYYYMM }}"
      else
        LATEST_TAG="${DOCKER_REPO}/slurm-lab:latest-${NAME}"
        YYYYMM_TAG="${DOCKER_REPO}/slurm-lab:{{ YYYYMM }}-${NAME}"
      fi
    - podman pull ${SOURCE_TAG}-amd64
    - podman pull ${SOURCE_TAG}-arm64
    - podman tag ${SOURCE_TAG}-amd64 ${LATEST_TAG}-amd64
    - podman tag ${SOURCE_TAG}-arm64 ${LATEST_TAG}-arm64
    - podman tag ${SOURCE_TAG}-amd64 ${LATEST_TAG}-amd64-{{ slurm_ver }}
    - podman tag ${SOURCE_TAG}-arm64 ${LATEST_TAG}-arm64-{{ slurm_ver }}
    - podman tag ${SOURCE_TAG}-amd64 ${YYYYMM_TAG}-amd64
    - podman tag ${SOURCE_TAG}-arm64 ${YYYYMM_TAG}-arm64
    - podman tag ${SOURCE_TAG}-amd64 ${YYYYMM_TAG}-amd64-{{ slurm_ver }}
    - podman tag ${SOURCE_TAG}-arm64 ${YYYYMM_TAG}-arm64-{{ slurm_ver }}
    - podman manifest create ${LATEST_TAG} ${LATEST_TAG}-amd64 ${LATEST_TAG}-arm64
    - podman manifest create ${YYYYMM_TAG} ${YYYYMM_TAG}-amd64 ${YYYYMM_TAG}-arm64
    - podman manifest create ${YYYYMM_TAG}-{{ slurm_ver }} ${YYYYMM_TAG}-amd64-{{ slurm_ver }} ${YYYYMM_TAG}-arm64-{{ slurm_ver }}
    - podman manifest push --all ${LATEST_TAG}
    - podman manifest push --all ${YYYYMM_TAG}
    - podman manifest push --all ${YYYYMM_TAG}-{{ slurm_ver }}
  rules:
    - if: $DOCKER_USERNAME && $DOCKER_TOKEN && $DOCKER_REPO
  parallel:
    matrix:
      {%- for tag in tags %}
      - DISTRO: {{ tag.distro }}
        NAME: {{ tag.name | default("default", true) }}
      {%- endfor %}