generate-secrets:
  stage: build
  image: docker.io/library/maven:3.8.7-openjdk-18-slim
  script:
    - cd ${CI_PROJECT_DIR}/modules/json-web-key-generator
    - mvn package
    - cd ${CI_PROJECT_DIR}
    - mkdir -p ${CI_PROJECT_DIR}/common/secrets
    - java -jar ${CI_PROJECT_DIR}/modules/json-web-key-generator/target/json-web-key-generator-0.9-SNAPSHOT-jar-with-dependencies.jar --type RSA --size 2048 --algorithm RS256 --idGenerator sha1 --keySet --output ${CI_PROJECT_DIR}/common/secrets/jwks.json --pubKeyOutput ${CI_PROJECT_DIR}/common/secrets/jwks.pub.json
    - java -jar ${CI_PROJECT_DIR}/modules/json-web-key-generator/target/json-web-key-generator-0.9-SNAPSHOT-jar-with-dependencies.jar --type oct --size 2048 --algorithm HS256 --idGenerator sha1 --keySet --output ${CI_PROJECT_DIR}/common/secrets/slurm.jwks
  artifacts:
    when: on_success
    access: all
    expire_in: "7 days"
    paths:
      - ${CI_PROJECT_DIR}/common/secrets/*

build-image:
  stage: build
  image: quay.io/podman/stable:latest
  timeout: 10h
  retry: 2
  hooks:
    pre_get_sources_script:
      - umask 0022
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
  script:
    - ( podman pull ${IMAGE_TAG}-${ARCH} ) || ( podman build --jobs=0 --squash -f ${CONTAINERFILE} -t ${IMAGE_TAG}-${ARCH} . && podman push --retry=5 ${IMAGE_TAG}-${ARCH} )
    - CONTAINERID=$( podman create ${IMAGE_TAG}-${ARCH} )
    - mkdir -pv ${CI_PROJECT_DIR}/slurm-repo-${DISTRO}-${ARCH}/
    - podman cp ${CONTAINERID}:/opt/slurm-repo/. ${CI_PROJECT_DIR}/slurm-repo-${DISTRO}-${ARCH}/
  variables:
    CONTAINERFILE: "build-${DISTRO}/Containerfile"
    IMAGE_TAG: "${CI_REGISTRY_IMAGE}/slurm-lab:${CI_COMMIT_SHORT_SHA}-${DISTRO}-{{ slurm_ver }}"
  artifacts:
    when: on_success
    access: all
    expire_in: "1 days"
    paths:
      - ${CI_PROJECT_DIR}/slurm-repo-${DISTRO}-${ARCH}/
  tags:
    - ${RUNNER_TAG}
  needs:
    - job: generate-secrets
  parallel:
    matrix:
      - DISTRO: {{ distros }}
        ARCH: amd64
        RUNNER_TAG: saas-linux-medium-amd64
      - DISTRO: {{ distros }}
        ARCH: arm64
        RUNNER_TAG: saas-linux-small-arm64

tag-multi-arch-image:
  stage: build
  image: quay.io/podman/stable:latest
  timeout: 10h
  retry: 2
  hooks:
    pre_get_sources_script:
      - umask 0022
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
  script:
    - podman pull ${IMAGE_TAG}-amd64 ${IMAGE_TAG}-arm64
    - podman manifest create ${IMAGE_TAG} ${IMAGE_TAG}-amd64 ${IMAGE_TAG}-arm64
    - podman manifest push --all ${IMAGE_TAG}
  variables:
    IMAGE_TAG: "${CI_REGISTRY_IMAGE}/slurm-lab:${CI_COMMIT_SHORT_SHA}-${DISTRO}-{{ slurm_ver }}"
  needs:
    - job: build-image
      parallel:
        matrix:
          - DISTRO: '$[[ matrix.DISTRO ]]'
            ARCH: [amd64, arm64]
  parallel:
    matrix:
      - DISTRO: {{ distros }}

{# rpm-publish:
  stage: build
  image: quay.io/rockylinux/rockylinux:9
  timeout: 10h
  retry: 2
  allow_failure: true
  script:
    - dnf -y install yum-utils rpm-build epel-release createrepo_c
    - dnf config-manager --enable crb
    - full_ver=$(grep "Version:" slurm/slurm.spec | head -n 1 | awk '{print $2}' | cut -d. -f-3 ) 
    - mkdir -pv ${CI_PROJECT_DIR}/slurm-repo/Packages
    - find ${CI_PROJECT_DIR}/slurm-repo-* -iname '*.rpm' -exec mv {} ${CI_PROJECT_DIR}/slurm-repo/Packages/ \;
    - createrepo ${CI_PROJECT_DIR}/slurm-repo
    - |
      cat > ${CI_PROJECT_DIR}/slurm-repo/slurm.repo <<EOF
      [slurm]
      name=slurm local repository
      baseurl=${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${full_ver}/rpm/
      gpgcheck=0
      enabled=1
      EOF
    - cd ${CI_PROJECT_DIR}/slurm-repo
    - |
      find . -type f -exec sh -c 'echo ${0#./}' "{}" \; | xargs -I{} curl --silent --retry 5 --retry-all-errors --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file {} ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${full_ver}/rpm/{}
  needs:
{% for distro in distros if distro.startswith('el') %}
    - job: build-{{ distro }}-arm64-image
    - job: build-{{ distro }}-amd64-image
{% endfor %}

deb-publish:
  stage: build
  image: docker.io/library/debian:12
  timeout: 10h
  retry: 2
  allow_failure: true
  script:
    - apt-get -y update
    - apt-get -y install dpkg-dev software-properties-common curl 
    - full_ver=$(grep "Version:" slurm/slurm.spec | head -n 1 | awk '{print $2}' | cut -d. -f-3 ) 
    - mkdir -pv ${CI_PROJECT_DIR}/slurm-repo/
    - cd ${CI_PROJECT_DIR}/slurm-repo/
    - find ${CI_PROJECT_DIR}/slurm-repo-* -iname '*.deb' -exec mv {} ${CI_PROJECT_DIR}/slurm-repo/ \;
    - |
      dpkg-scanpackages . /dev/null > Release 
      dpkg-scanpackages . /dev/null | gzip -9c > Packages.gz
    - |
      cat > ${CI_PROJECT_DIR}/slurm-repo/slurm.list <<EOF
      deb [trusted=yes] ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${full_ver}/deb/ stable main
      EOF
    - |
      find . -type f -exec sh -c 'echo ${0#./}' "{}" \; | xargs -I{} curl --silent --retry 5 --retry-all-errors --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file {} ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${full_ver}/deb/{}
  needs:
{% for distro in distros if distro.startswith('deb') %}
    - job: build-{{ distro }}-arm64-image
    - job: build-{{ distro }}-amd64-image
{% endfor %} #}

.image-testing: &image-testing
  stage: build
  timeout: 1h
  image: registry.gitlab.com/csniper/ci-mgmt/podman-compose:latest
  before_script:
    - podman login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - podman system service -t 0 &
  script:
    - podman compose up -d --quiet-pull && sleep 90
    - podman compose exec master-1 timeout 10m systemctl status munge slurmdbd slurmctld 
    - podman compose exec master-2 timeout 10m systemctl status munge slurmdbd slurmctld 
    - podman compose exec client timeout 10m sinfo --long
    - podman compose exec client timeout 10m scontrol show config
    #- podman compose exec client timeout 10m sbatch --wait --time 00:01:00 /etc/skel/tutorials/helloworld.sh
    - podman compose exec master-lyoko timeout 10m systemctl status munge slurmctld 
    - podman compose exec master-lyoko timeout 10m sinfo --long
    - podman compose exec master-lyoko timeout 10m scontrol show config
    #- podman compose exec master-lyoko timeout 10m sbatch --wait --time 00:01:00 /etc/skel/tutorials/helloworld.sh
    - podman compose down
    - podman volume prune -f
  rules:
    - if: $VERIFY_IMAGE == 'true'

test-image:
  <<: *image-testing
  variables:
    IMAGE_TAG: "${CI_REGISTRY_IMAGE}/slurm-lab:${CI_COMMIT_SHORT_SHA}-${DISTRO}-{{ slurm_ver }}"
    COMPOSE_FILE: compose.ci.yml
  tags:
    - ${RUNNER_TAG}
  needs:
    - job: tag-multi-arch-image
      parallel:
        matrix:
          - DISTRO: '$[[ matrix.DISTRO ]]'
  resource_group: ${RESOURCE_GROUP}
  parallel:
    matrix:
      - DISTRO: {{ distros }}
        ARCH: amd64
        RUNNER_TAG: saas-linux-medium-amd64
        RESOURCE_GROUP: image-testing-amd64
      - DISTRO: {{ distros }}
        ARCH: arm64
        RUNNER_TAG: saas-linux-small-arm64
        RESOURCE_GROUP: image-testing-arm64