{% for tag in tags %}
{%- set source_tag = "${CI_REGISTRY_IMAGE}/slurm-lab:${CI_COMMIT_SHORT_SHA}-" + tag.distro + "-" + slurm_ver -%}
{% if tag.name is not none %}
{%- set latest_tag = "${CI_REGISTRY_IMAGE}/slurm-lab:latest-" + tag.name -%}
{%- set yyyymm_tag = "${CI_REGISTRY_IMAGE}/slurm-lab:"+ YYYYMM + "-" + tag.name -%}
{% else %}
{%- set latest_tag = "${CI_REGISTRY_IMAGE}/slurm-lab:latest" -%}
{%- set yyyymm_tag = "${CI_REGISTRY_IMAGE}/slurm-lab:" + YYYYMM -%}
{% endif %}
tag-{{ tag.name | default("default", true) }}-image:
  stage: deploy
  image: quay.io/podman/stable
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
  script:
    - podman pull {{ source_tag }}-amd64
    - podman pull {{ source_tag }}-arm64
    - podman tag {{ source_tag }}-amd64 {{ latest_tag }}-amd64
    - podman tag {{ source_tag }}-arm64 {{ latest_tag }}-arm64
    - podman tag {{ source_tag }}-amd64 {{ latest_tag }}-amd64-{{ slurm_ver }}
    - podman tag {{ source_tag }}-arm64 {{ latest_tag }}-arm64-{{ slurm_ver }}
    - podman tag {{ source_tag }}-amd64 {{ yyyymm_tag }}-amd64
    - podman tag {{ source_tag }}-arm64 {{ yyyymm_tag }}-arm64
    - podman tag {{ source_tag }}-amd64 {{ yyyymm_tag }}-amd64-{{ slurm_ver }}
    - podman tag {{ source_tag }}-arm64 {{ yyyymm_tag }}-arm64-{{ slurm_ver }}
    - podman manifest create {{ latest_tag }} {{ latest_tag }}-amd64 {{ latest_tag }}-arm64
    - podman manifest create {{ yyyymm_tag }} {{ yyyymm_tag }}-amd64 {{ yyyymm_tag }}-arm64
    - podman manifest create {{ latest_tag }}-{{ slurm_ver }} {{ latest_tag }}-amd64-{{ slurm_ver }} {{ latest_tag }}-arm64-{{ slurm_ver }}
    - podman manifest create {{ yyyymm_tag }}-{{ slurm_ver }} {{ yyyymm_tag }}-amd64-{{ slurm_ver }} {{ yyyymm_tag }}-arm64-{{ slurm_ver }}
    - podman manifest push --all {{ latest_tag }}
    - podman manifest push --all {{ yyyymm_tag }}
    - podman manifest push --all {{ latest_tag }}-{{ slurm_ver }}
    - podman manifest push --all {{ yyyymm_tag }}-{{ slurm_ver }}

{% endfor %}

{% for tag in tags %}
{%- set source_tag = "${CI_REGISTRY_IMAGE}/slurm-lab:${CI_COMMIT_SHORT_SHA}-" + tag.distro + "-" + slurm_ver -%}
{% if tag.name is not none %}
{%- set latest_tag = "${DOCKER_REPO}/slurm-lab:latest-" + tag.name -%}
{%- set yyyymm_tag = "${DOCKER_REPO}/slurm-lab:"+ YYYYMM + "-" + tag.name -%}
{% else %}
{%- set latest_tag = "${DOCKER_REPO}/slurm-lab:latest" -%}
{%- set yyyymm_tag = "${DOCKER_REPO}/slurm-lab:" + YYYYMM -%}
{% endif %}
dockerhub-{{ tag.name | default("default", true) }}-image:
  stage: deploy
  image: quay.io/podman/stable
  before_script:
    - podman login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
    - podman login -u "${DOCKER_USERNAME}" -p "${DOCKER_TOKEN}" docker.io
  script:
    - podman pull {{ source_tag }}-amd64
    - podman pull {{ source_tag }}-arm64
    - podman tag {{ source_tag }}-amd64 {{ latest_tag }}-amd64
    - podman tag {{ source_tag }}-arm64 {{ latest_tag }}-arm64
    - podman tag {{ source_tag }}-amd64 {{ latest_tag }}-amd64-{{ slurm_ver }}
    - podman tag {{ source_tag }}-arm64 {{ latest_tag }}-arm64-{{ slurm_ver }}
    - podman tag {{ source_tag }}-amd64 {{ yyyymm_tag }}-amd64
    - podman tag {{ source_tag }}-arm64 {{ yyyymm_tag }}-arm64
    - podman tag {{ source_tag }}-amd64 {{ yyyymm_tag }}-amd64-{{ slurm_ver }}
    - podman tag {{ source_tag }}-arm64 {{ yyyymm_tag }}-arm64-{{ slurm_ver }}
    - podman manifest create {{ latest_tag }} {{ latest_tag }}-amd64 {{ latest_tag }}-arm64
    - podman manifest create {{ yyyymm_tag }} {{ yyyymm_tag }}-amd64 {{ yyyymm_tag }}-arm64
    - podman manifest create {{ latest_tag }}-{{ slurm_ver }} {{ latest_tag }}-amd64-{{ slurm_ver }} {{ latest_tag }}-arm64-{{ slurm_ver }}
    - podman manifest create {{ yyyymm_tag }}-{{ slurm_ver }} {{ yyyymm_tag }}-amd64-{{ slurm_ver }} {{ yyyymm_tag }}-arm64-{{ slurm_ver }}
    - podman manifest push --all {{ latest_tag }}
    - podman manifest push --all {{ yyyymm_tag }}
    - podman manifest push --all {{ latest_tag }}-{{ slurm_ver }}
    - podman manifest push --all {{ yyyymm_tag }}-{{ slurm_ver }}
  rules:
    - if: $DOCKER_USERNAME && $DOCKER_TOKEN && $DOCKER_REPO

{% endfor %}