plugin: community.general.nmap
strict: false
address: {{ SUBNET }}
exclude: {{ GATEWAY }}
port: 22, 443, 80, 3306, 6817, 6818, 6819, 6820

groups:
    slurmctld:  "ports | selectattr('port', '==', '6817') | selectattr('state', '==', 'open')"
    slurmd:     "ports | selectattr('port', '==', '6818') | selectattr('state', '==', 'open')"
    slurmdbd:   "ports | selectattr('port', '==', '6819') | selectattr('state', '==', 'open')"
    slurmrestd: "ports | selectattr('port', '==', '6820') | selectattr('state', '==', 'open')"
    db:         "ports | selectattr('port', '==', '3306') | selectattr('state', '==', 'open')"