[defaults]
inventory = /etc/ansible/inventory
collections_path = /usr/share/ansible/collections:~/.ansible/collections

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, community.general.nmap

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
