[Unit]
Description=Generate slurmdbd.conf
Before=slurmdbd.service slurmctld.service slurmd.service

[Service]
Type=oneshot
EnvironmentFile=-/opt/templates/.env
ExecStart=/opt/templates/slurm-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target